@using Microsoft.Extensions.Configuration
@{
    ViewData["Title"] = "Strona główna";
}

@inject IConfiguration config

<div class="text-center">
    <h1 class="display-4">SuperMed<i>system</i></h1>
    <hr />
</div>
<div class="container">
    <div class="d-flex align-content-center">
        <div class="card m-3 mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="assets/docs.PNG" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    <a asp-controller="Account" asp-action="RegisterDoctor">
                        Zarejestruj lekarza
                    </a>
                </p>
            </div>
        </div>
        <div class="card m-3 mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="assets/pats.PNG" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    <a asp-controller="Account" asp-action="RegisterPatient">
                        Zarejestruj pacjenta
                    </a>
                </p>
            </div>
        </div>

        @if (config["IsPublic"] == "false")
        {
            <div class="card m-3 mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="assets/admin.PNG" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <a asp-controller="Account" asp-action="RegisterAdmin">
                            Zarejestruj administratora
                        </a>
                    </p>
                </div>
            </div>
        }

    </div>
</div>