@using Microsoft.AspNetCore.Identity
@using SuperMed.Auth
@inject UserManager<ApplicationUser> _UserManager

@if (User.Identity.IsAuthenticated)
{
    <span>Witaj <b>@_UserManager.GetUserName(User)</b>, miłego dnia!</span>
    <a asp-controller="Account" asp-action="Logout">Wyloguj się</a>
}
else
{
    <a asp-controller="Account" asp-action="Login">Logowanie</a>
}