<div style="text-align: center;">
    <h3>Niestety, nie udało się umówić wizyty.</h3>
    <h5>Być może doktor jest już zajęty, spróbuj wybrać inną godzinę.</h5>
    <p>
        <a asp-action="CreateVisit">Wróć do kroku 1</a>
    </p>
</div>
