@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Poprawnie utworzyłaś/eś konto!</h4>
    <a asp-controller="Home" asp-action="Index">Przejdź do panelu.</a>
</div>